body {
  margin: 0;
}
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  height: 100vw;
  flex-direction: row;
  text-align: center;
}
.left {
  font-size: 1.5vw;
  width: 20%;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: gray;
}
.cat {
  margin: 3rem;
}
.right {
  width: 100%;
}
